.mydp {
    min-width: 100px;
    border-radius: 2px;
    line-height: 1.1;
    display: inline-block;
    z-index: 1000;
}

.mydp * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 0;*/
    /*margin: 0;*/
}

.mydp .selector {
    margin-top: 2px;
    margin-left: -1px;
    position: absolute;
    max-width: 262px;
    padding: 3px;
    border-radius: 2px;
    background-color: #DDD;
    z-index: 100;
}

.mydp .selectiongroup {
    position: relative;
    display: table;
    border: none;   
    background-color: #FFF;
}

.mydp .selection {
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 64px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.mydp .selbtngroup {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    text-align: right;
    font-size: 0;
}

.mydp .btnpicker,
.mydp .btnclear {
    height: 100%;
    width: 30px;
    border: none;
    border-left: 1px solid #AAA;
    padding: 0px;
    cursor: pointer;
    outline: 0;
    font: inherit;
    -moz-user-select: none;
}

.mydp .btnpicker,
.mydp .btnclear,
.mydp .headertodaybtn,
.mydp .footerbtn {
    background: #FAFAFA;
    background-image: -webkit-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -moz-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -o-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -ms-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
}

.mydp .header {
    width: 100%;
    height: 36px;
    margin-bottom: 1px;
    background-color: #FAFAFA;
}

.mydp .header td {
    vertical-align: middle;
    border: none;
}

.mydp .header td:nth-child(1) {
    font-size: 16px;
    padding-left: 4px;
}

.mydp .header td:nth-child(2) {
    text-align: center;
}

.mydp .header td:nth-child(3) {
    font-size: 16px;
    padding-right: 4px;
}

.mydp .caltable {
    table-layout: fixed;
    width: 100%;
    background-color: #FFF;
    font-size: 14px;
}

.mydp .caltable,
.mydp .caltable th,
.mydp .caltable td {
    border-collapse: collapse;
    color: #003366;
    line-height: 1.1;
}

.mydp .caltable th,
.mydp .caltable td {
    padding: 5px;
    text-align: center;
}

.mydp .caltable th {
    background-color: #DDD;
    font-size: 12px;
    vertical-align: middle;
}

.mydp .caltable td {
    cursor: pointer;
    font-weight: bold;
    height: 28px;
}

.mydp .prevmonth {
    color: #CCC;
}

.mydp .nextmonth {
    color: #CCC;
}

.mydp .sunday {
    color: #C30000;
}

.mydp .currmonth {
    background-color: #F6F6F6;
    font-weight: bold;
}

.mydp .currday div {
    border: 1px solid #004198;
    border-radius: 50%;
}

.mydp .selectedday div {
    border: 1px solid #004198;
    background-color: #8EBFFF !important;
    border-radius: 0;
}

.mydp .caltable tbody .currmonth:hover {
    background-color: #6AD0EB;
}

.mydp .selectmenu {
    height: 24px;
    width: 60px
}

.mydp .headerbtn {
    background-color: #FAFAFA;
    cursor: pointer;
    display: table-cell;
}

.mydp,
.mydp .selector,
.mydp .header,
.mydp .footerarea,
.mydp .table,
.mydp .table th,
.mydp .table td,
.mydp .headertodaybtn,
.mydp .caltable tbody {
    border: 1px solid #AAA;
}

.mydp .btnpicker,
.mydp .btnclear,
.mydp .headerbtn,
.mydp .headermonthtxt,
.mydp .headeryeartxt,
.mydp .headertodaybtn,
.mydp .selection {
    color: #000;
}

.mydp .headertodaybtn {
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
}

.mydp button::-moz-focus-inner {
    border: 0;
}

.mydp .headermonthtxt,
.mydp .headeryeartxt {
    width: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.mydp .btnclear:focus,
.mydp .btnpicker:focus,
.mydp .btnclear:hover,
.mydp .btnpicker:hover {
    background: #ADD8E6;
}

.mydp .icon-calendar,
.mydp .icon-cross {
    font-size: 16px;
}

.mydp .icon-left,
.mydp .icon-right {
    font-size: 14px;
}

.mydp .icon-left:hover,
.mydp .icon-right:hover {
    color: #63B2CC;
}

.mydp table {
    display: table;
}

.mydp table td {
    padding: 0;
}

@font-face {
    font-family: 'mydatepicker';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAssAAAC8AAAAYGNtYXDMUczTAAABHAAAAGxnYXNwAAAAEAAAAYgAAAAIZ2x5ZmFQ1q4AAAGQAAABbGhlYWQGZuTFAAAC/AAAADZoaGVhB4IDyQAAAzQAAAAkaG10eBYAAnAAAANYAAAAIGxvY2EBdAE0AAADeAAAABJtYXhwABUAPgAAA4wAAAAgbmFtZQ5R9RkAAAOsAAABnnBvc3QAAwAAAAAFTAAAACAAAwOaAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAUAAAABAAEAADAAAAAQAg5gDmAuYF5gf//f//AAAAAAAg5gDmAuYF5gf//f//AAH/4xoEGgMaARoAAAMAAQAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAMAEAAAAPAA4AABAAJAA4AEwAYAB0AIgAnACwAMQA2ADsAABMRMxEjFyE1IRUDITUhFQERMxEjJRUzNSMTFTM1IzMVMzUjMxUzNSMBFTM1IzMVMzUjMxUzNSMTFTM1I0Bzc0ADAP0AQAOA/IADDXNz/ZOAgCCAgMCAgMCAgP6AgIDAgIDAgIAggIADAP1AAsBzc3P9c3NzAwD9QALAgMDA/sCAgICAgID/AICAgICAgAJAwMAAAAAAAgBwADADkANQAAQACQAANwEnARcDATcBB+kCp3n9WXl5Aqd5/Vl5MAKnef1ZeQKn/Vl5Aqd5AAABAOAAAAMgA4AAAwAAAQMBJQMgA/3DASADgPyAAcPfAAEA4AAAAyADgAADAAA3EwEF4AMCPf7gAAOA/j3fAAAAAQAAAAEAAF0/BsNfDzz1AAsEAAAAAADRxFAkAAAAANHEUCQAAAAAA8ADgAAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAADwAABAAAAAAAAAAAAAAAAAAAACAQAAAAAAAAAAAAAAAIAAAAEAABABAAAcAQAAOAEAADgAAAAAAAKABQAHgB6AJYApgC2AAAAAQAAAAgAPAAMAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAkAAAABAAAAAAACAAcAcgABAAAAAAADAAkAPAABAAAAAAAEAAkAhwABAAAAAAAFAAsAGwABAAAAAAAGAAkAVwABAAAAAAAKABoAogADAAEECQABABIACQADAAEECQACAA4AeQADAAEECQADABIARQADAAEECQAEABIAkAADAAEECQAFABYAJgADAAEECQAGABIAYAADAAEECQAKADQAvHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMHZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAclJlZ3VsYXIAUgBlAGcAdQBsAGEAcnZzZHBpY2tlcgB2AHMAZABwAGkAYwBrAGUAckZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mydp .icon {
    font-family: 'mydatepicker';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mydp .icon-calendar:before {
    content: "\e600";
}

.mydp .icon-cross:before {
    content: "\e602";
}

.mydp .icon-left:before {
    content: "\e605";
}

.mydp .icon-right:before {
    content: "\e607";
}